/* ------------------------------------- 
		PALLETE 
------------------------------------- */

$brand-primary: #1F93FF;
$gray-base: darken(#EDEDED, 2%);
$gray: darken(#F0F0F0, 2%);
$text: #3c4858;
$text-lighten: #888888;
$white: #FFFFFF;

$grey: #7f8c8d;
$greySoft: #e8e8e8;
$greyVerySoft: #d6d6d6;
$divider: #EAEFF4;
$orange:#F98F38;
$green:#46CE84;
$purple:#DD8EDA;
$blueSoft:#8FC6DB;
$brown:#D6C990;
$red: #A03022;
