doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title Template Email New Tenders
		link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="style.css", data-embed)
	body
		// START WRAPPER
		.wrapper-body 
			// Header {Text} {Logo}
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.header(width="100%",border="0" cellspacing="0" cellpadding="0")
							tr
								// Wrapper Logo Header
								td 
									img.logo(src="http://pasmandor.com/img/cs/logo.png", alt="logo eproc")
								// Wrapper Social
								td.pull-right.social-header
									table(align="right")
										tr
											// Social Media {1. twitter, 2.facebook, 3. twitter}
											td.media-social-icon
												a(href="")
													img(src="http://pasmandor.com/img/cs/soc-med-icn-03.png", alt="icon-twitter")
											td.media-social-icon
												a(href="")
													img(src="http://pasmandor.com/img/cs/soc-med-icn-04.png", alt="icon-facebook") 
											td.media-social-icon
												a(href="")
													img(src="http://pasmandor.com/img/cs/soc-med-icn-05.png", alt="icon-linkedin")
			// Banner {h1 : Welcome} {p : describe}
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.no-gap.banner(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								td
									img(src="http://pasmandor.com/img/cs/email-icn.png", alt="icon", align="center")
							tr
								td.gap-30
							tr
								td
									h1 Hi Idam, Anda Mempunyai Notifikasi Baru
							tr
								td
									// Wrapper link see all
									.btn-wrapper
										a Lihat Semua
							tr
								td.gap-30
			// Before Footer {Terms & Policy list} {Button Social Media}
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.divider(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								td.gap-20
							tr
								td.divider-wrapper
									<!--[if (gte mso 9)|(IE)]>
									<table width="100%">
									<tr>
									<td width="200" valign="top">
									<![endif]-->
									// Text Keyword Divider
									.flex-33
										table
											tr
												td
													.label-key
														p KEYWORDS
														span (8)
														img(src="http://pasmandor.com/img/cs/arrow.png")
									<!--[if (gte mso 9)|(IE)]>
									<table width="100%">
									<tr>
									<td width="200" valign="top">
									<![endif]-->
									.flex-33
										table(align="center")
											tr
												// START NEW TENDERS KEYWORD
												td
													.circle.bg-orange.circle-medium
														span 14 
												td.value-text New Tenders
												// END NEW TENDERS KEYWORD
									<!--[if (gte mso 9)|(IE)]>
									<table width="100%">
									<tr>
									<td width="200" valign="top">
									<![endif]-->
									.flex-33.pull-right
										table(align="right")
											tr
												// START NEW TENDERS KEYWORD
												td
													.circle.bg-green 
														span 23
												td.value-text Tenders You can Bid
												// END NEW TENDERS KEYWORD
							tr
								td.gap-20
									
									.clearfix
			// List Keyword 1
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.content(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								td.side-gap-20
								// Wrapper The List
								td.wrapper-list
									.flex-5
										table
											tr
												td.gap-20
											tr
												td
													.circle.bg-purple BN
									.flex-90
										table(width="100%")
											tr
												td.gap-20
											tr
												td.job-title Pekerjaan Perencanaan Perluasan Gedung
											tr
												td
													table(width="100%")
														tr
															td
																<!--[if (gte mso 9)|(IE)]>
																<table width="100%">
																<tr>
																<td width="50%" valign="top">
																<![endif]-->
																.flex-40
																	table(width="100%")
																		tr
																			td.gap-10
																		tr
																			td.new-tenders.left-text 12 New Tenders
																<!--[if (gte mso 9)|(IE)]>
																</td><td width="50%" valign="top">
																<![endif]-->
																.flex-50
																	table(width="100%")
																		tr
																			td.gap-10
																		tr
																			td.tenders-you-can.left-text 9 Tenders You Can Bid
																<!--[if (gte mso 9)|(IE)]>
																</td>
																</tr>
																</table>
																<![endif]-->
										table
											tr
												td.gap-10
								// END LIST TENDER 1
								td.side-gap-20
			// List Keyword 2
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.content(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								td.side-gap-20
								// Wrapper The List
								td.wrapper-list
									.flex-5
										table
											tr
												td.gap-20
											tr
												td
													div.circle.bg-orange.circle-medium BN
									
									.flex-90
										table(width="100%")
											tr
												td.gap-20
											tr
												td.job-title Pekerjaan Perencanaan Perluasan Gedung
											tr
												td
													table(width="100%")
														tr
															td
																<!--[if (gte mso 9)|(IE)]>
																<table width="100%">
																<tr>
																<td width="50%" valign="top">
																<![endif]-->
																div.flex-40
																	table(width="100%")
																		tr
																			td.gap-10
																		tr
																			td.new-tenders.left-text 12 New Tenders
																<!--[if (gte mso 9)|(IE)]>
																</td><td width="50%" valign="top">
																<![endif]-->
																div.flex-50
																	table(width="100%")
																		tr
																			td.gap-10
																		tr
																			td.tenders-you-can.left-text 9 Tenders You Can Bid
																<!--[if (gte mso 9)|(IE)]>
																</td>
																</tr>
																</table>
																<![endif]-->
										table
											tr
												td.gap-10
								// END LIST TENDER 1
								td.side-gap-20
			// Before Footer {Terms & Policy list} {Button Social Media}
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.divider(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								td.divider-wrapper
									// START Icon Media Social
									.term-policies.flex-70
										table
											tr
												td 
													a(href="") Term & Conditions
												td 
													a(href="") Privacy Policy
												td 
													a(href="") FAQ
									.social.flex-30
										table
											tr
												td.media-social-icon
													a(href="")
														img(src="http://pasmandor.com/img/cs/soc-med-icn-03-darker.png", alt="icon-facebook")
												td.media-social-icon
													a(href="")
														img(src="http://pasmandor.com/img/cs/soc-med-icn-04-darker.png", alt="icon-facebook") 
												td.media-social-icon
													a(href="")
														img(src="http://pasmandor.com/img/cs/soc-med-icn-05-darker.png", alt="icon-facebook")
									.clearfix
			// Footer {Terms & Policy list} 
			table(width="100%",border="0" cellspacing="0" cellpadding="0")
				tr
					td
						table.wrapper.footer(width="100%" border="0" cellspacing="0" cellpadding="0")
							tr
								// Footer
								td 
									p &copy; 2016 Eproc All Right Reserved
									