{
  "AUTH_USER": "youremail@mail.com",
  "AUTH_PASS" : "YOURPASSWORDHERE",
  "SMTP_HOST": "smtp.gmail.com",
  "SMTP_SECURE_CONNECTION": true,
  "SMTP_PORT": 465,
  "SUBJECT": "Hello, You have notify",
  "TO": [
    "towho@mail.com"
  ],
  "CC": [
    "ccwho@mail.com"
  ],
  "FROM": "<fromyouremail@mail.com>"
}