doctype html
html(lang="en")
	head
		title Template Email Notifications
		
	body
		table(width='100%')
			tbody(width='400')
				tr
					td logo
					td
						tbody
							tr f
							tr t
							tr l
