//- // img(src="http://pasmandor.com/img/cs/email-icn.png")
doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title Template Email Notifications
		link(rel="stylesheet", href="style.css", data-embed)
	body
		// START WRAPPER
		table(width="100%", align="center", style="text-align:center;")
			tr
				td
					table(align="center", style="text-align:center; max-width:600px;")
						tr
							td(width="10", style="min-width:10px")
							td.center(width="100%")
								// START HEADER LOGO AND SOCIAL BUTTON
								table.head-wrap.content-wrapper(width="600")
									tr
										// START CONTAINER
										td.header.container(algin="center", style="text-align:center;")
											// START CONTENT
											div
												table(width="100%")
													tr
														td.ep-logo
															img(src="http://pasmandor.com/img/cs/Paypal.png", alt="logo")
														// START Icon Media Social
														td.social-header(align="right")
															table
																tr
																	td.media-social-icon
																		a(href="")
																			img(src="http://pasmandor.com/img/cs/soc-med-icn-03.png", alt="icon-facebook")
																	td.media-social-icon
																		a(href="")
																			img(src="http://pasmandor.com/img/cs/soc-med-icn-04.png", alt="icon-facebook") 
																	td.media-social-icon
																		a(href="")
																			img(src="http://pasmandor.com/img/cs/soc-med-icn-05.png", alt="icon-facebook")
														// END Icon Media Social
											// END CONTENT
										// END CONTAINER
								td(width="10", style="min-width:10px")
								// END HEADER LOGO AND SOCIAL BUTTON

					// START BODY
					table.body-wrap.init.colp(cellspacing="0" cellpadding="0" border="0",align="center", style="text-align:center; max-width:100%;")
						// ROW 1
						tr.colp
							td(width="10", style="min-width:10px")
							// START COLUMN 1
							td.colp
								// START WRAPPER CONTENT WITH BORDER
								div.ep-container.colp
									table.colp.center(width="100%")
										// START TEXT, BUTTON, IMAGES BIG MIDDLE
										tr
											td.ep-margin-ud-20
										tr
											td.ep-header
												img(src="http://pasmandor.com/img/cs/email-icn.png", alt="icon", align="center")
										tr
											td.ep-margin-ud-20
										tr
											td
												table.center-text
													tr
														td(width="10", style="min-width:10px")
														td.center-text(align="center")
															h1.title-notify.center-text Hi Idam, Anda Mempunyai Notifikasi Baru
														td(width="10", style="min-width:10px")
										tr
											td.ep-margin-ud-20
										tr
											td
												a.btn.init Lihat Semua
										tr
											td.ep-margin-ud-20
										// END IMAGES BIG IN THE MIDDLE
										// START DIVIDER WATCHLIST STAGE UPDATE TENDERS YOU CAN BID
										tr.divider-counter
											td
												table
													tr
														td.ep-margin-ud-20
													tr
														td.layout-three-column
															<!--[if (gte mso 9)|(IE)]>
															<table width="100%">
															<tr>
															<td width="200" valign="top">
															<![endif]-->
															
															div.column-3.special-watchlist
																table(width="100%")
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					td 
																						table.max-keyword
																							tr
																								// START TEXT KEYWORD
																								td KEYWORDS (8)
																								// END TEXT
															<!--[if (gte mso 9)|(IE)]>
															</td><td width="200" valign="top">
															<![endif]-->
															div.column-3
																table
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					// START NEW TENDERS KEYWORD
																					td
																						span.circle.bg-orange 14
																					td(width="5", style="min-width:5px")
																					td.value-text New Tenders
																					// END NEW TENDERS KEYWORD
															<!--[if (gte mso 9)|(IE)]>
															</td><td width="200" valign="top">
															<![endif]-->
															div.column-3
																table
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					// START NEW TENDERS KEYWORD
																					td
																						span.circle.bg-green 23
																					td(width="5", style="min-width:5px")
																					td.value-text.max-keyword Tenders You can Bid
																					// END NEW TENDERS KEYWORD
															<!--[if (gte mso 9)|(IE)]>
															</td>
															</tr>
															</table>
															<![endif]-->
													tr
														td.ep-margin-ud-20

											//- td
											//- 	table(align="center")
											//- 		tr
											//- 			td.ep-margin-ud-20
											//- 		tr
											//- 			td
											//- 				table.max-keyword
											//- 					tr
											//- 						// START TEXT KEYWORD
											//- 						td(width="20", style="min-width:20px")
											//- 						td WATCHLIST (82)
											//- 						// END TEXT
											//- 			td
											//- 				table
											//- 					tr
											//- 						td
											//- 							table
											//- 								tr
											//- 									// START NEW TENDERS KEYWORD
											//- 									td
											//- 										span.circle.bg-orange 14
											//- 									td(width="5", style="min-width:5px")
											//- 									td.value-text Stage Update
											//- 									// END NEW TENDERS KEYWORD
											//- 			td
											//- 				table
											//- 					tr
											//- 						td
											//- 							table
											//- 								tr
											//- 									// START TENDER YOU CAN BID
											//- 									td
											//- 										span.value.circle.bg-green 23
											//- 									td(width="5", style="min-width:5px")
											//- 									td.value-text-more Tender You can Bid
											//- 									// START TENDER YOU CAN BID
													tr
														td.ep-margin-ud-20


										// END DIVIDER WATCHLIST STAGE UPDATE TENDERS YOU CAN BID
										// START TENDER LIST
										tr.tender-list
											td
												table(width="100%")
													// START LIST TENDER 1
													tr
														td(width="5",style="min-width:5px; max-width:5px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pekerjaan Perencanaan Perluasan Gedung
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 1
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pengadaan Barang Komisi Pemberantasan Korupsi
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 2
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Perbaikan Jaringan Komputer
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 2
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pekerjaan Perencanaan Perluasan Gedung
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK	
													tr
														td.ep-margin-ud-5
													tr
														td
														td.link(colspan="3") See All
													// START LINE BREAK
													tr
														td.ep-margin-ud-5
														td
														td
														td
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK	
													// END LIST TENDER 2
										// END TENDER LIST

										//- PART 2 
										// PART 2 DIVIDER COUNTER
										
										// START DIVIDER WATCHLIST STAGE UPDATE TENDERS YOU CAN BID
										tr.divider-counter
											td
												table
													tr
														td.ep-margin-ud-20
													tr
														td.layout-three-column
															<!--[if (gte mso 9)|(IE)]>
															<table width="100%">
															<tr>
															<td width="200" valign="top">
															<![endif]-->
															
															div.column-3.special-watchlist
																table(width="100%")
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					td 
																						table.max-keyword
																							tr
																								// START TEXT KEYWORD
																								td WATCHLIST (82)
																								// END TEXT
															<!--[if (gte mso 9)|(IE)]>
															</td><td width="200" valign="top">
															<![endif]-->
															div.column-3
																table
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					// START NEW TENDERS KEYWORD
																					td
																						span.circle.bg-orange 14
																					td(width="5", style="min-width:5px")
																					td.value-text Stage Update
																					// END NEW TENDERS KEYWORD
															<!--[if (gte mso 9)|(IE)]>
															</td><td width="200" valign="top">
															<![endif]-->
															div.column-3
																table
																	tr
																		td(width="20", style="min-width:20px")
																		td.inner
																			table.contents-3
																				tr
																					// START NEW TENDERS KEYWORD
																					td
																						span.circle.bg-green 23
																					td(width="5", style="min-width:5px")
																					td.value-text.max-keyword Tenders You can Bid
																					// END NEW TENDERS KEYWORD
															<!--[if (gte mso 9)|(IE)]>
															</td>
															</tr>
															</table>
															<![endif]-->
													tr
														td.ep-margin-ud-20
										// END DIVIDER WATCHLIST STAGE UPDATE TENDERS YOU CAN BID
										// START TENDER LIST
										tr.tender-list
											td
												table(width="100%")
													// START LIST TENDER 1
													tr
														td(width="20",style="min-width:10px; max-width:20px")
														td.tag(style="min-width:15px; max-width:15px")
															div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pekerjaan Perencanaan Perluasan Gedung
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 1
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pengadaan Barang Komisi Pemberantasan Korupsi
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 2
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Perbaikan Jaringan Komputer
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 2
													// START LINE BREAK
													tr
														td.ep-margin-ud-20
														td.border-bottom
														td.border-bottom
														td.border-bottom
														td(width="20",style="min-width:10px; max-width:20px")
													// END LINE BREAK
													// START LIST TENDER 2
													tr
														td(width="20",style="min-width:20px; max-width:20px")
														td.tag(style="min-width:25px; max-width:25px",valign="top")
															table
																tr
																	td.ep-margin-ud-20
																tr
																	td
																		div.circle.bg-purple PP
														td(width="0", style="min-width:10px;max-width:10px")
														td
															table
																tr
																	td
																		table
																			tr
																				td.ep-margin-ud-20
																			tr
																				td.job-title Pekerjaan Perencanaan Perluasan Gedung
																			tr
																				td.ep-margin-ud-5
																tr
																	td
																		table
																			tr
																				td.layout-two-column
																					<!--[if (gte mso 9)|(IE)]>
																					<table width="100%">
																					<tr>
																					<td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.new-tenders.left-text 3 New Tenders
																					<!--[if (gte mso 9)|(IE)]>
																					</td><td width="50%" valign="top">
																					<![endif]-->
																					div.layout-column
																						table(width="100%")
																							tr
																								td.inner 
																									table.content
																										tr
																											td.tenders-you-can.left-text(align="right") 6 Tenders You Can Bid
																					<!--[if (gte mso 9)|(IE)]>
																					</td>
																					</tr>
																					</table>
																					<![endif]-->
													// END LIST TENDER 2
										// END TENDER LIST
											
										//- GONNA END
								// END WRAPPER CONTENT WITH BORDER 
							// END COLUMN 1
						// END ROW 1

					// END BODY

					// START FOOTER
					table.footer-wrap
					// END FOOTER
				td(width="10", style="min-width:10px")
		// END WRAPPER



		