/* ------------------------------------- 
		PALLETE 
------------------------------------- */

$brand-primary: #416F9C;
$gray-base: #EDEDED;
$gray: #F0F0F0;
$text: #AEAEAE;
$text-darker: #8F8F8F;
$white: #FFFFFF;

$grey: #7f8c8d;
$greySoft: #e8e8e8;
$greyVerySoft: #d6d6d6;
$divider: #EAEFF4;
$orange:#F98F38;
$green:#46CE84;
$purple:#DD8EDA;
$blueSoft:#8FC6DB;
$brown:#D6C990;
